/* carousel */

.carousel__item {
    background-color: #000;
    height: 94vh;

    .carousel__image--background {
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute;
      height: 100%;
      background-position: center;
      background-size: cover;
      opacity: 0.8;
    }
    
    .carousel__content {
      height: 100%;
      color: #fff;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: 100%;
      h1 {
        text-align: center;
        font-size: 3.2em;
        font-weight: 800;
        text-shadow: 2px 2px 5px #00000070;
        z-index: 3;
      }   
      
    }
  }
  
// arrow styles

  .arrow {
    z-index: 10;
    position: absolute;
    height: 50px;
    width: 50px;
    bottom: 1.5rem;
    left: 50%;
    margin: auto;
    transform: translateX(50%);
    animation: float 5s ease-in-out infinite;
    img {
      filter: invert(92%) sepia(100%) saturate(33%) hue-rotate(195deg) brightness(108%) contrast(99%);
    }
  }
  
// animation for arrow 
  @keyframes float {
    0% {
      transform: translate(-50%, 0px);
    }
    50% {
      transform: translate(-50%, -15px);
    }
    100% {
      transform: translate(-50%, 0px);
    }
  }