// variables

$mainColor: #fb3544;
$inactive: #aaa;
$black: #121212;

// ------------

$title: 4rem;
$subTitle: 3rem;
$paraphs: 1rem;

$rowSvg: "";

// Normalize

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }