/* Pics for the headers of pages  ------------------------*/
@import "header", "buttons", "card", "variables", "carousel";

// linking images background of carousel

$pages: "index", "extractionMethods", "coffeeDrinks", "groundCoffee", "latteArt";
@each $page in $pages {
  @for $i from 1 through 3 {
    .carousel__image__#{$page}--background--#{$i} {
      background-image: url("../media/images/#{$page}/carousel-#{$page}-#{$i}.jpg");
    }
}
}
// ---
html {
  scroll-behavior: smooth;
}



/* fonts  */

body {
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  color: $black;
}

h1 {
  font-size: $title;
  margin: 1rem;
}

.bigTitleText,
h2 {
  font-size: 3rem;
  margin: .5rem;
}

.titleTextl,
h3 {
  font-size: 1.4rem;
}

.contentText,
p {
  font-size: $paraphs
}

section {
  margin: 1rem;
}

// grid container
.grid__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 22rem));
  grid-template-rows: max-content;
  gap: 1rem;
  justify-content: center;
  margin-bottom: 4rem;
  margin-top: 4rem;
}

// footer
.footer__container {
  background-color: $mainColor;
  .footer__socials {
    .socials__item {
      a {
        text-decoration: none;
        color: $black;
        &:hover {
          color: #fff;
        }
        i{
          font-size: 1.6rem
        }
      }
    }
  }
}



/* acordion */
.accordion__container {
  min-height: 50vh;
  margin-top: 3rem;
  .accordion {
    .accordion__item {
      div {
        .accordion__button {
          margin: 0.1rem;
          box-shadow: none;
          color: #000;
          background-color: $mainColor;
        }
      }
      .accordion-collapse {
        transition: 0.25s;
        .accordion__body {
          .accordion__image {
            width: 100%;
            img {
              min-width: 15rem;
              max-width: 100%;
              height: auto;
            }
          }
          
        }
      }
    }
  }
}

.accordion-button:not(.collapsed)::after {
  background-image: url($rowSvg);
}

// articles styles

.article {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  gap: 2rem;
  .article__image {
    padding: 1rem;
    max-width: 100%;
    height: auto; 
  }
 p {
   font-size: 1rem;

 }
}
.video__container {
  display: flex;
  justify-content: center;
  height: 60vh;
  margin: 1rem;
  .video {
    width: 100%;
    max-width: 70rem;
  }
}

// 404 page

.container__404 {
  text-align: center;
  margin: auto;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  width: 50vw;
  height:50vh;
  min-width: 300px;
  gap: 2rem;
  border-radius: 5rem;
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.044);
  box-shadow: 2px 2px 15px 2px rgba(96, 96, 96, 0.311);
}


@media screen and (min-width: 1200px) {
  .article {
    flex-direction: row;
    .article__image {
      max-width: 50%;
    }
  }
  
}